<table id="foods" class="table table-hover table-sm table-bordered">
    <thead class="thead-dark">
    <tr>
        {% for header in table.headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>
            Úpravy
        </th>
    </tr>
    </thead>
    <tbody>
        {% for food in foods %}
            <tr id="{{ food.id }}">
                {#                        <td>{{ food.id }}</td>#}
                <th class="food_name"  contenteditable="true">{{ food.name }}</th>
                <td class="food_description"  contenteditable="true">{{ food.description }}</td>
                <td class="food_price"  contenteditable="true">{{ food.price }}</td>
                <td class="food_tags">
                    {% for tag in food.tags %}
                        <span class="badge badge-primary    food_tag" data-id="{{ tag.id }}" >{{ tag.name }}</span>
                    {% endfor %}
                    <a onclick="add_tag(this)" class="badge badge-success" data-id="{{ food.id }}"><i class="fas fa-edit text-light"></i></a>
                </td>
                <td class="food_types">
                    <select class="food_type form-control">
                        {% for type in types %}
                            {% if type.name == food.type.name %}
                                <option selected="">{{ food.type.name }}</option>
                            {% else %}
                                <option>{{ type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary edit-food" data-id="{{ food.id }}">Uložit</a>
                    <a href="#" class="btn btn-sm btn-danger delete-food" data-id="{{ food.id }}">Smazat</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>