<table id="foods" class="table table-hover table-sm table-bordered sortable">
    <thead class="thead-dark">
    <tr>
        {% for header in table.headers %}
            <th class="{{ header.class }}">{{ header.name }}</th>
        {% endfor %}
        <th class="sorttable_nosort">
            Úpravy
        </th>
    </tr>
    </thead>
    <tbody>
        {% for food in foods %}
            <tr id="{{ food.id }}">
                {#                        <td>{{ food.id }}</td>#}
                <th class="food_name" contenteditable="true">{{ food.name }}</th>
                <td class="food_description" contenteditable="true">{{ food.description }}</td>
                <td class="food_price only-numbers" contenteditable="true">{{ food.price }}</td>
                <td class="food_tags">
                    {% for tag in food.tags %}
                        <span class="badge badge-primary food_tag" data-id="{{ tag.id }}" >{{ tag.name }}</span>
                    {% endfor %}
                    <a onclick="add_tag(this)" class="badge badge-success" data-id="{{ food.id }}"><i class="fas fa-edit text-light"></i></a>
                </td>
                <td onchange="add_to_to_changed_foods(this)" class="food_types">
                    <select class="food_type form-control">
                        {% for type in types %}
                            {% if type.name == food.type.name %}
                                <option selected="" data-id="{{ food.type.id }}">{{ food.type.name }}</option>
                            {% else %}
                                <option data-id="{{ type.id }}">{{ type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary edit-food d-none" data-id="{{ food.id }}">Uložit</a>
                    <a href="#" class="btn btn-sm btn-danger delete-food d-none" data-id="{{ food.id }}">Smazat</a>
                    <input type="checkbox" class="select_food">
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
