{% extends 'skeleton.html.twig' %}

{% block title %}Menu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/style/export.css" />
{% endblock %}
{% block body %}
    <div id="menu">
        <p class="MsoNormal" align="center" style="text-align:center">
            <img id="logo" class="logo" width="250" height="128" src="{{ asset('Logo-PG-CB.png') }}">
        </p>
        {% for day in menu %}
            <div class="day">
                <h3>{{ day.name }}</h3>
                {% for type in day.meals %}
                    <h4>{{ type.name }}</h4>
                    {%  for meal in type.meals %}
                        <p>{{ meal.name }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
        <p>Přejeme dobrou chuť!<br>Heslo k WiFi: swagatam</p>
    </div>
    <a class="word-export btn btn-success" href="javascript:void(0)"> Export as .doc </a>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {#    // todo vzřešit tenhle shit#}
    <script src="/js/FileSaver.js"></script>
    <script src="/public/js/FileSaver.js"></script>
    {#    // todo vzřešit tenhle shit#}
    <script src="/js/jquery.wordexport.js"></script>
    <script src="/public/js/jquery.wordexport.js"></script>
<script>

    jQuery(document).ready(function($) {
        $("a.word-export").click(function(event) {
            //
                $("#menu").wordExport("menicko");
        });

        if ({{ generate }}) {
            $("#menu").wordExport("menicko");
        }
    });
</script>
{% endblock %}